In [ ]:
data = [1, 7, 4]
print(data)

data.insert(1, 9)
print(data)

[1, 7, 4]
[1, 9, 7, 4]

In [ ]:
def my_insert(data, index, value):
    result = data[:index] + [value] + data[index:]
    return result

# test
data = [1, 7, 4]
print(data)

result = my_insert(data, 1, 9)
print(result)

[1, 7, 4]
[1, 9, 7, 4]

In [ ]:
data = [1, 7, 4]
print(data)

data[0] = 1
data[1] = 1
data[2] = 1
print(data)

[1, 7, 4]
[1, 1, 1]

In [ ]:
def set_one_1(data):
    length = len(data)
    for i in range(length):
        data[i] = 1

    return data

# test the function set_one
data = [1, 7, 4]
print(data)

result = set_one_1(data)
print(result)

[1, 7, 4]
[1, 1, 1]

In [ ]:
def set_one_2(data):
    length = len(data)
    for i in range(length):
        data[i] = 1
    return None

# test the function set_one
data = [1, 7, 4]
print(data)

result = set_one_2(data)
print(data)
print(result)

[1, 7, 4]
[1, 1, 1]
None