# 1

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('advertising_simple.csv')
df.describe()

               TV      Radio  Newspaper      Sales
count    8.000000   8.000000   8.000000   8.000000
mean    73.125000  29.500000  42.500000  11.250000
std     68.059716  17.146428  27.619869   4.334249
min      8.000000   2.000000   1.000000   4.000000
25%     14.750000  16.750000  20.000000   9.250000
50%     50.500000  35.500000  51.500000  11.500000
75%    127.750000  42.000000  60.750000  13.750000
max    180.000000  48.000000  75.000000  17.000000

In [2]:
import pandas as pd

data = pd.Series([39, 45, 41, 10])
data

0    39
1    45
2    41
3    10
dtype: int64

In [3]:
data[:3]

0    39
1    45
2    41
dtype: int64

In [4]:
data.loc[:-1]

Series([], dtype: int64)

In [5]:
df

    TV  Radio  Newspaper  Sales
0   44     39         45     10
1   17     45         69     12
2  151     41         58     16
3  180     10         58     17
4    8     48         75      7
5   57     32         23     11
6  120     19         11     13
7    8      2          1      4

In [6]:
df.describe()

               TV      Radio  Newspaper      Sales
count    8.000000   8.000000   8.000000   8.000000
mean    73.125000  29.500000  42.500000  11.250000
std     68.059716  17.146428  27.619869   4.334249
min      8.000000   2.000000   1.000000   4.000000
25%     14.750000  16.750000  20.000000   9.250000
50%     50.500000  35.500000  51.500000  11.500000
75%    127.750000  42.000000  60.750000  13.750000
max    180.000000  48.000000  75.000000  17.000000

In [7]:
df.head(3)

    TV  Radio  Newspaper  Sales
0   44     39         45     10
1   17     45         69     12
2  151     41         58     16

In [8]:
df.tail(3)

    TV  Radio  Newspaper  Sales
5   57     32         23     11
6  120     19         11     13
7    8      2          1      4

## Get columns

In [9]:
series = df['Radio']

In [10]:
type(series)

pandas.core.series.Series

In [11]:
series

0    39
1    45
2    41
3    10
4    48
5    32
6    19
7     2
Name: Radio, dtype: int64

In [12]:
series.to_numpy()

array([39, 45, 41, 10, 48, 32, 19,  2])

In [13]:
series.index

RangeIndex(start=0, stop=8, step=1)

In [14]:
series.name

'Radio'

In [15]:
series.values

array([39, 45, 41, 10, 48, 32, 19,  2])

## Get row

In [16]:
series

0    39
1    45
2    41
3    10
4    48
5    32
6    19
7     2
Name: Radio, dtype: int64

In [20]:
series.loc[4]

48

In [19]:
series.iloc[4]

48

In [21]:
series.loc[2:5]

2    41
3    10
4    48
5    32
Name: Radio, dtype: int64

In [22]:
series.iloc[2:5]

2    41
3    10
4    48
Name: Radio, dtype: int64

In [16]:
series[2:5]

2    41
3    10
4    48
Name: Radio, dtype: int64

In [23]:
series[series>30]

0    39
1    45
2    41
4    48
5    32
Name: Radio, dtype: int64

In [25]:
series.loc[series>40]

1    45
2    41
4    48
Name: Radio, dtype: int64

In [26]:
series[series.between(10, 30)]

3    10
6    19
Name: Radio, dtype: int64

In [27]:
series.to_frame()

   Radio
0     39
1     45
2     41
3     10
4     48
5     32
6     19
7      2

In [29]:
import pandas as pd
import numpy as np

data = pd.Series([4, 7, 1],
                 name='Programming Language')
data

0    4
1    7
2    1
Name: Programming Language, dtype: int64

In [30]:
data[1.5] = 8
data

0.0    4
1.0    7
2.0    1
1.5    8
Name: Programming Language, dtype: int64

In [31]:
data.sort_index(inplace=True)
data

0.0    4
1.0    7
1.5    8
2.0    1
Name: Programming Language, dtype: int64

In [32]:
data = data.reset_index(drop=True)

In [24]:
data

0    4
1    7
2    8
3    1
Name: Programming Language, dtype: int64

# 2

## Drop row

In [ ]:
import pandas as pd
import numpy as np

data = pd.Series(['C++', 'Golang', 'Java', 'Python', 'Swift'],
                 index=list('CGJPS'),
                 name='Programming Language')
data

C       C++
G    Golang
J      Java
P    Python
S     Swift
Name: Programming Language, dtype: object

In [40]:
data['K'] = "Kotlin"
data

C       C++
G    Golang
J      Java
P    Python
S     Swift
K    Kotlin
Name: Programming Language, dtype: object

In [41]:
data = data.sort_index(inplace=False)
data

C       C++
G    Golang
J      Java
K    Kotlin
P    Python
S     Swift
Name: Programming Language, dtype: object

In [42]:
data = data.drop('P')
data

C       C++
G    Golang
J      Java
K    Kotlin
S     Swift
Name: Programming Language, dtype: object

In [48]:
print(type(data[['C', 'J']]))
['C', 'J']

<class 'pandas.core.series.Series'>

['C', 'J']

In [ ]:
data2 = pd.Series(['C++', 'Golang', 'Java', 'Python', 'Swift'],
                 index=list('CGJPC'),
                 name='Programming Language')
data2

C       C++
G    Golang
J      Java
P    Python
C     Swift
Name: Programming Language, dtype: object

In [50]:
data2['C']

C      C++
C    Swift
Name: Programming Language, dtype: object

In [51]:
data.index

Index(['C', 'G', 'J', 'K', 'S'], dtype='object')

In [52]:
data.name

'Programming Language'

In [ ]:
#
data['C':'P']

C       C++
G    Golang
J      Java
K    Kotlin
Name: Programming Language, dtype: object

In [55]:
result = data[2:4]
result

J      Java
K    Kotlin
Name: Programming Language, dtype: object

In [56]:
data.drop(['C', 'P'])

KeyError: "['P'] not found in axis"

In [57]:
data.drop(['C', 'S'])

G    Golang
J      Java
K    Kotlin
Name: Programming Language, dtype: object

## Insert row

In [58]:
data

C       C++
G    Golang
J      Java
K    Kotlin
S     Swift
Name: Programming Language, dtype: object

In [62]:
data['P'] = 'Python'
data['P'] = 'Python'
data

C       C++
G    Golang
J      Java
K    Kotlin
S     Swift
P    Python
Name: Programming Language, dtype: object

In [64]:
data2 = data.sort_index(inplace=True)
print(data2)

None

## String

In [ ]:
data

In [65]:
data.str.count('Java')

C    0
G    0
J    1
K    0
P    0
S    0
Name: Programming Language, dtype: int64

In [66]:
data.str.count('a')

C    0
G    1
J    2
K    0
P    0
S    0
Name: Programming Language, dtype: int64

In [67]:
data.str.lower()

C       c++
G    golang
J      java
K    kotlin
P    python
S     swift
Name: Programming Language, dtype: object

In [68]:
data.str.upper()

C       C++
G    GOLANG
J      JAVA
K    KOTLIN
P    PYTHON
S     SWIFT
Name: Programming Language, dtype: object

In [69]:
data.replace('Java', 'C#')

C       C++
G    Golang
J        C#
K    Kotlin
P    Python
S     Swift
Name: Programming Language, dtype: object

## Missing value

In [70]:
import pandas as pd
import numpy as np

data = pd.Series([1, 6, 3, 8, np.nan, 7, np.nan, 2], name='num_dropped')
data

0    1.0
1    6.0
2    3.0
3    8.0
4    NaN
5    7.0
6    NaN
7    2.0
Name: num_dropped, dtype: float64

In [71]:
data.dropna()

0    1.0
1    6.0
2    3.0
3    8.0
5    7.0
7    2.0
Name: num_dropped, dtype: float64

In [95]:
data = pd.Series([1, 6, 3, 8, np.nan, 7, np.nan, 2], name='num_dropped')
data.fillna(1.0)

0    1.0
1    6.0
2    3.0
3    8.0
4    1.0
5    7.0
6    1.0
7    2.0
Name: num_dropped, dtype: float64

In [96]:
data = pd.Series([1, 6, 3, 8, np.nan, 7, np.nan, 2], name='num_dropped')
data.interpolate()#interpolate to exam value

0    1.0
1    6.0
2    3.0
3    8.0
4    7.5
5    7.0
6    4.5
7    2.0
Name: num_dropped, dtype: float64

In [98]:
data = pd.Series([1, 6, 3, 8, np.nan, 7, np.nan, 2], name='num_dropped')
# data.fillna(0.0)
data.interpolate(method='linear')#interpolate to exam value

0    1.0
1    6.0
2    3.0
3    8.0
4    7.5
5    7.0
6    4.5
7    2.0
Name: num_dropped, dtype: float64

In [76]:
# current data value
data

0    1.0
1    6.0
2    3.0
3    8.0
4    NaN
5    7.0
6    NaN
7    2.0
Name: num_dropped, dtype: float64

In [80]:
print(data.sum())
print(data.min())
print(data.max())
print(data.mean())
print(data.std())
print(data.idxmax())

27.0
1.0
8.0
4.5
2.8809720581775866
3

In [81]:
import pandas as pd
import numpy as np

center1 = pd.Series(
    [12, 23, 31, 11, 9],
    index=list(['C++', 'Golang', 'Java', 'Python', 'Swift']),
    name='num_registered'
)
center1

C++       12
Golang    23
Java      31
Python    11
Swift      9
Name: num_registered, dtype: int64

In [82]:
center2 = pd.Series(
    [42, 18, 44, 49, 27],
    index=list(['C++', 'Golang', 'Java', 'Python', 'Swift']),
    name='num_registered'
)
center2

C++       42
Golang    18
Java      44
Python    49
Swift     27
Name: num_registered, dtype: int64

In [84]:
total = center1 + center2
total

C++       54
Golang    41
Java      75
Python    60
Swift     36
Name: num_registered, dtype: int64

In [ ]:
center1 = pd.Series([12, 23, 31, 11, 9],
                    index=list(['C++', 'Golang', 'Java', 'Python', 'Swift']),
                    name='num_registered')
center2 = pd.Series([42, 44, 49, 27],
                    index=list(['Golang', 'Java', 'Python', 'Swift']),
                    name='num_registered')
total = center1 + center2
total

C++        NaN
Golang    65.0
Java      75.0
Python    60.0
Swift     36.0
Name: num_registered, dtype: float64

## Update series

In [86]:
import pandas as pd
import numpy as np

data = pd.Series(['C++', 'Golang', 'Java', 'Python', 'Swift'], name='language')
data

0       C++
1    Golang
2      Java
3    Python
4     Swift
Name: language, dtype: object

In [87]:
data[2.5] = 'C#'
data

0.0       C++
1.0    Golang
2.0      Java
3.0    Python
4.0     Swift
2.5        C#
Name: language, dtype: object

In [89]:
data.sort_index(inplace=True)
data

0.0       C++
1.0    Golang
2.0      Java
2.5        C#
3.0    Python
4.0     Swift
Name: language, dtype: object

In [90]:
data.reset_index(drop=True)

0       C++
1    Golang
2      Java
3        C#
4    Python
5     Swift
Name: language, dtype: object

# 3

## Strings

In [100]:
import pandas as np
import numpy as np

data = pd.Series(['C++', 'Golang', 'Java', 'Python', 'Swift'])
data

0       C++
1    Golang
2      Java
3    Python
4     Swift
dtype: object

In [101]:
data.str.count('Java')

0    0
1    0
2    1
3    0
4    0
dtype: int64

In [102]:
data.replace('Java', 'C#')

0       C++
1    Golang
2        C#
3    Python
4     Swift
dtype: object

## Group by

In [ ]:
import pandas as pd
import numpy as np

data = pd.Series([4, 1, 0, 2, 2, 1],
                 index=list(['C++', 'Golang', 'Java', 'Python', 'Swift', 'C#']),
                 name='num_dropped')
data

C++       4
Golang    1
Java      0
Python    2
Swift     2
C#        1
Name: num_dropped, dtype: int64

In [106]:
print(data['C++'].sum())

5

In [107]:
data['Golang']

Golang    1
Golang    2
Name: num_dropped, dtype: int64

In [108]:
data['Java']

Java    0
Java    2
Name: num_dropped, dtype: int64

In [109]:
print(data['C++'].sum())
print(data['Golang'].sum())
print(data['Java'].sum())

5
3
2

In [111]:
data

C++       4
Golang    1
Java      0
Golang    2
Java      2
C++       1
Name: num_dropped, dtype: int64

In [110]:
data.groupby(level=0).sum()

C++       5
Golang    3
Java      2
Name: num_dropped, dtype: int64

In [ ]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]

index = pd.MultiIndex.from_arrays(
    arrays=arrays,
    names=('Animal', 'Type')
)
ser = pd.Series([390., 350., 30., 20.],
                index=index,
                name="Max Speed")
ser

Animal  Type
Falcon  Captive    390.0
        Wild       350.0
Parrot  Captive     30.0
        Wild        20.0
Name: Max Speed, dtype: float64

In [114]:
ser.groupby(level="Type").mean()

Type
Captive    210.0
Wild       185.0
Name: Max Speed, dtype: float64

In [115]:
ser.groupby(level=1).sum()

Type
Captive    420.0
Wild       370.0
Name: Max Speed, dtype: float64

In [116]:
ser.index

MultiIndex([('Falcon', 'Captive'),
            ('Falcon',    'Wild'),
            ('Parrot', 'Captive'),
            ('Parrot',    'Wild')],
           names=['Animal', 'Type'])